Library
Temp
Build
Obj
*.pidb
*.unityproj
*.sln
*.userprefs
*.swp
*.csproj
#Standard Assets (for Unity 2018.4)
Standard Assets/
SampleScenes/
#SDユニティちゃん 3Dモデルデータ
UnityChan/
README_SD_UnityChan.txt
#[無料][ギター３Dモデル]無庵魂(MUandMA)
muandama/
